@import url('https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#ffffff, #835ea9);
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    align-items: center;
}

.cabecalho img {
    width: 70px;
}

.cabecalho ul {
    list-style-type: none;
    display: flex;
}

.cabecalho a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: black;
    transition: transform 0.5s;
}

.cabecalho a:hover {
    color: rgb(117, 117, 222);
    transform: scale(1.05);
}

.cabecalho button {
    background-color: rgb(117, 117, 222);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    transition: 1s all;
}

.cabecalho button:hover {
    transform: scale(1.05);
}

.risco {
    border-bottom: 1px solid rgb(117, 117, 222);
    margin-top: 10px;
    margin-right: 45px;
    margin-left: 30px;

    /* margin: 20px 30px 0 30px; */
}

/*CONTEÚDO*/
.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-wrapper .title-slide {
    color: #835ea9;
}

.card-list .card-item{
    list-style: none;
}

.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: white;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.card-list .card-item .card-link-active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover{
    border-color: rgb(117, 117, 222);
}

.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: rgb(117, 117, 222);
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: rgb(232, 232, 255);
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.developer {
    color: #835ea9;
    background: #f3e6ff;
}

.card-list .card-link .badge.aventura {
    color: #5e72a9;
    background: #ccdaff;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: black;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 40px;
    width: 40px;
    color: rgb(117, 117, 222);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid rgb(117, 117, 222);
    transform: rotate(-45deg);
    transition: 0.5s ease;
}

.card-list .card-link:hover .card-button {
    color: white;
    background: rgb(117, 117, 222);
}

.card-wrapper .swiper-paginarion-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: rgb(117, 117, 222);
}

.card-wrapper .swiper-paginarion-bullet-active {
    opacity: 1;
}

.card-wrapper .suiper-slide-button {
    color: #835ea9;
    margin-top: -35px;
}

/*RODAPE*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer ul{
    list-style: none;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-width: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(117, 117, 222);
    box-sizing: border-box;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: rgb(202, 202, 202);
    display: block;
    transform: all 0.3s ease;
    transition: padding-left 0.5s;
}

.footer-col ul li a:hover {
    color: rgb(117, 117, 222);
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(117, 117, 222);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transform: all 0.5s ease;
    transition: background-color 0.5s;
}

.footer-col .social-links a:hover{
    color: #24263b;
    background-color: white;
}

/*RESPONSIVIDADE*/
@media(max-width: 767px){

    .cabecalho {
        flex-wrap: wrap;
    }

    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .suiper-slide-button {
        display: none;
    }
    
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
    
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
    }
}